<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Geometries Example</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
  <script>
   let scrollRotation;

function setup() {
  createCanvas(windowWidth, windowHeight, WEBGL);
}

function draw() {
  clear();

  scrollRotation = (mouseX + mouseY) * 0.005;

  // Center the box in the canvas
  translate(0, 0, 0);

  normalMaterial();
  push();
  rotateZ(scrollRotation);
  rotateX(scrollRotation);
  rotateY(scrollRotation);
  cone(120, 120);
  pop();
}

// Handle window resizing
function windowResized() {
  resizeCanvas(windowWidth, windowHeight);
}

  </script>
  
</body>
</html>
